@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Krona One';
  src: url('@/assets/fonts/Krona_One/KronaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
