@import './fonts.scss';

body {
  font-family: 'Poppins' !important;
  font-size: 16px;
  /* desktop only */
  min-width: 1024px;
}

h1,
h2,
h3,
h4 .text-h1,
.text-h2,
.text-h3,
.text-h4 {
  // specify fonts for all low lvl headers
  font-family: 'Krona One', sans-serif !important;
}
